<% className = form_action.delete(:class) %>
<h4><%= request.fullpath %></h4>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>
  
<% end %>
<div <%= "style='display: none;'" if request.fullpath == '/admin/content/new' %>>
<h4><%= _("Merge Articles") %></h4>
<%= form_tag :action => 'merge' do %>
  <input type="hidden" name="current_id" id="current_id" value="<%= params[:id] %>" />
  <%= label_tag 'merge_with', 'Article ID', :align => 'left' %>
  <%= text_field_tag 'merge_with' %>
  <br>
  <%= submit_tag "Merge" %>
<% end %>
</div>
